html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#head {
    border: 5px solid black;
    padding: 20px;
}

#flex {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows:  repeat(2), 1fr;
    padding: 5%;

}

.grid{
    border: 5px solid black;
    padding: 20px;
    margin-right: 5%;
    margin-bottom: 15%;
    height: 60%;
    width: 80%;
}